<div class="bootstrap-wrapper mt20">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="outer_card">
            <h2 class="text-center"> Laundry Portal</h2>
            <!-- <div class="col-md-4">
            <app-sidebar></app-sidebar>
          </div> -->
            <div class="column">
              <mat-card class="example-card" routerLink="/new-request">
                <mat-card-header routerLink = "accepted-admin-request">
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>New Laundry Request</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/pending-request">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Pending Requests</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/rejected-request">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Rejected Requests</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column mt20" style="margin-left: 17%">
                <mat-card class="example-card" routerLink="/accepted-request">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Accepted Requests</mat-card-title>
                    <mat-card-subtitle>Module</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button class="ml10" mat-raised-button>LIKE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="column mt20">
                <mat-card class="example-card" routerLink="/completed-request">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Completed Requests</mat-card-title>
                    <mat-card-subtitle>Module</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button class="ml10" mat-raised-button>LIKE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              
  
            <!-- <div class="col-md-8">
            <router-outlet></router-outlet>
          </div> -->
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>