<div class="bootstrap-wrapper mt20">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="outer_card">
            <h2 class="text-center"> Student Management Dashboard</h2>
            <!-- <div class="col-md-4">
            <app-sidebar></app-sidebar>
          </div> -->
            <div class="column">
              <mat-card class="example-card">
                <mat-card-header >
                  
           
                  <mat-card-title >View Student</mat-card-title>
                </mat-card-header>

                <mat-card-actions>
                  <button class="ml10" mat-raised-button  routerLink="/view-student">Click</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Add Student</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Delete Student</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column mt20" style="margin-left: 17%">
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>View All Students</mat-card-title>
                    <mat-card-subtitle>Module</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button class="ml10" mat-raised-button>LIKE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              <div class="column mt20">
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Room Information</mat-card-title>
                    <mat-card-subtitle>Module</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button class="ml10" mat-raised-button>LIKE</button>
                  </mat-card-actions>
                </mat-card>
              </div>
              
  
            <!-- <div class="col-md-8">
            <router-outlet></router-outlet>
          </div> -->
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>