<mat-card ml0>
    <mat-action-list>
        
      <div mat-subheader></div>

      <button routerLink="welcome" mat-list-item>
        Home
      </button>

      <button mat-list-item routerLink="view-student">
       View Student 
      </button>
      
      <button mat-list-item routerLink="add-student">
        Add Student
      </button>

      <button mat-list-item routerLink="delete-student">
     Delete Student
      </button>

      <button mat-list-item routerLink="view-all-student">
      ViewALLStudent
      </button>

      <button mat-list-item routerLink="fees">
        Fees
      </button>

      <button mat-list-item routerLink="rooms">
      Room Information
      </button>
    
      
    </mat-action-list>

  </mat-card>
