<mat-card>
    <mat-action-list>
        
      <div mat-subheader></div>

      <button routerLink="admin-dashboard" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Home
      </button>

      <button mat-list-item routerLink="admin-dashboard/view-student">
        <mat-icon mat-list-icon>account_circle</mat-icon> View Student 
      </button>
      
      <button mat-list-item routerLink="admin-dashboard/add-student">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon> Add Student
      </button>

      <button mat-list-item routerLink="admin-dashboard/delete-student">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon> Delete Student
      </button>
    
      
    </mat-action-list>

  </mat-card>
