<div class="bootstrap-wrapper mt20">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <mat-card class="outer_card">
            <h2 class="text-center"> Sports Equipment Portal</h2>
            <!-- <div class="col-md-4">
            <app-sidebar></app-sidebar>
          </div> -->
            <div class="column">
              <mat-card class="example-card" routerLink="/sportudash">
                <mat-card-header routerLink = "accepted-admin-request">
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Available Stock</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/sportuform">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Issue Item</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="column">
              <mat-card class="example-card" routerLink="/reqgranttab">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Request Status</mat-card-title>
                  <mat-card-subtitle>Module</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button class="ml10" mat-raised-button>LIKE</button>
                </mat-card-actions>
              </mat-card>
            </div>
  
  
            <!-- <div class="col-md-8">
            <router-outlet></router-outlet>
          </div> -->
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>